<%- include("../partials/header") %>

    <div class="container">
        <h3 class="my-4">Current order</h3>
        <% orders.forEach(order=> { %>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="row card-header" id="headingOne">
                        <div class="col-4">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#a<%= order._id %>" aria-expanded="false" aria-controls="collapseOne">
                                    <%= order.name %>
                                </button>
                            </h5>
                        </div>
                        <div class="col-8 d-flex justify-content-end">
                            <form action="/dashboard/confirm" method="POST">
                                <input type="hidden" name="id" value="<%= order._id %>">
                                <input type="hidden" name="name" value="<%= order.name %>">
                                <input type="hidden" name="phone" value="<%= order.phone %>">

                                <% if (order.received) { %>
                                    <button class="btn btn-danger" disabled>Notified</button>
                                    <% } else { %>
                                        <button class="btn btn-danger">Received</button>
                                        <% } %>


                            </form>
                            <form action="/dashboard/ready" method="POST">
                                <input type="hidden" name="id" value="<%= order._id %>">
                                <input type="hidden" name="name" value="<%= order.name %>">
                                <input type="hidden" name="phone" value="<%= order.phone %>">

                                <% if (order.ready) { %>
                                    <button class="btn btn-warning ml-3" disabled>Notified</button>
                                    <% } else { %>
                                        <button class="btn btn-warning ml-3">Ready</button>
                                        <% } %>

                            </form>
                            <form action="/dashboard/<%= order._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-success ml-3">Picked up</button>
                            </form>
                        </div>
                    </div>

                    <div id="a<%= order._id %>" class="collapse">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <% order.cart.forEach(item=> { %>
                                        <h6 class="my-0">
                                            <%= item.item.name %>
                                        </h6>
                                        <small class="text-muted">Price: <%= item.item.price %></small>
                                        <br>
                                        <small class="text-muted">Quantity: <%= item.qty %> </small>
                                        <br>
                                        <small class="text-muted">Subtotal: <%= item.price %> </small>
                                        <% }) %>
                                </div>
                                <div class="col-8">

                                </div>
                            </div>
                            <h6 class="mt-2">Total: <%= order.total %>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>

    </div>
    <%- include("../partials/footer") %>